<%- include('header') -%>

<h1>to-do</h1>

<ul class="items">
    <% for(var i=0; i<items.length; i++) { %>
        <li class="items">
            <span><%= items[i].name %></span>
            <span>:</span>
            <span><%= items[i].item %></span>
            <form style="display: inline-block;" method="get" action="edit/<%= items[i]._id %>">
                <button>Edit</button>
            </form>
            <button id="delete" data-deleter="<%= items[i]._id %>">Delete</button>
        </li>
    <% } %>
</ul>

<form action="/item" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="item" name="item">
    <button type="submit">Add</button>
    <button type="submit" formaction="/reset">Reset</button>
</form>

<%- include('footer') -%>